body{font-size: 80%;}
#topPage, #botPage, #midPage{padding-top: 10px;}
p{padding: 10px 0;}
.container{padding:0 10px;}
.header{
	font-size: 400%;
	letter-spacing: 0.18em;
}

/*	Navigation	*/
nav{
	letter-spacing: 0.05em;
	margin: 0 0 2vh 0;
}
.navButton{
	line-height: 39px;
	padding: 0 18px;
}
.socialMedia{font: normal 18px 'Genericons';}

/*	Top Page	*/
#title{
	white-space: nowrap;
	padding-top: 8px;
	font-size: 4em;
	margin-bottom: 2vh;
	letter-spacing: 0.2em;
}
.intro{display: none;}
section{
	padding: 2vh 0;
	font-size: 150%;
	margin: 3vh 0;
}

#qualifications img{
	vertical-align: top;
	display: inline-block;
	width: 10%;
	padding: 2vh 5px;
}

hr{margin: 4vh 0;}

/*	Middle page	*/
.bar{
	margin: 5px 2px;
	padding: 3px 5px;
	color: hsl(0, 0%, 0%);
}

/*	Bottom Page	*/
form{
	margin: 0 1%;
}
form label{
	display: block;
}
form > div{margin: 2vh 0;}
form label + input, textarea{
	width: 100%;
	max-width: 100%;}
form label{font-size: 100%;}
form input{
padding:2px 5px;}
textarea{height: 80px;}

#field_5{width:75%;}

/*	Dynamic Stuff	*/
@media (min-height: 600px){

	/*	Top Page */
	.intro{display: block;}
	body{font-size: 100%;}

	/*	Middle Page	*/
	#categories{display: block;	}
}
@media (min-height: 800px){

	/*	Top Page */
	body{font-size: 110%;}
}
@media (min-height: 1000px){

	/*	Top Page */
	body{font-size: 120%;}
}