body{
font-size:17px;
font-family:sans-serif;
background-color:hsl(0, 0%, 0%);
width:100%;
-webkit-box-sizing:border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing:border-box;    /* Firefox, other Gecko */
box-sizing:border-box;         /* Opera/IE 8+ */
overflow:auto;
margin:0;
padding:0;
color:hsl(0, 0%, 100%);
-webkit-font-smoothing:antialiased;
}
body>div{min-height: 100vh;}
#home{
background:-khtml-linear-gradient(top,hsl(0, 100%, 35%) 92%,hsl(0,0%,0%));
background:-webkit-linear-gradient(top,hsl(0, 100%, 35%) 92%,hsl(0,0%,0%));
background:-o-linear-gradient(top,hsl(0, 100%, 35%) 92%,hsl(0,0%,0%));
background:-moz-linear-gradient(top,hsl(0, 100%, 35%) 92%,hsl(0,0%,0%));
background:linear-gradient(top,hsl(0, 100%, 35%) 92%,hsl(0,0%,0%));
}
#portfolio{
background:-khtml-linear-gradient(top,hsl(0,0%,0%) 92%,hsl(0, 100%, 35%));
background:-webkit-linear-gradient(top,hsl(0,0%,0%) 92%,hsl(0, 100%, 35%));
background:-o-linear-gradient(top,hsl(0,0%,0%) 92%,hsl(0, 100%, 35%));
background:-moz-linear-gradient(top,hsl(0,0%,0%) 92%,hsl(0, 100%, 35%));
background:linear-gradient(top,hsl(0,0%,0%) 92%,hsl(0, 100%, 35%));
}
.textCenter, #title, .header{text-align:center;}
.elementCenter, #slideShow, .container{margin:0 auto;}
.container{max-width:700px;}
#contact{min-height:100vh;}
#portfolio{min-height:100vh;}
#home, #contact{background-color:hsl(0, 100%, 35%);}
p a{border-bottom:1px solid hsl(0, 0%, 100%);}
p{margin:1vh 0;}
nav a, p a{
color:hsl(0, 0%, 100%);
text-decoration:none;
}
.header, #title{font-family:Mesquite Free, serif;}
}

/* navigation */
nav{
font-family:tahoma, sans-serif;
width:100%;
border-top:1px solid hsl(0, 0%, 100%);
}
nav table{
margin:0 auto;
width:340px;
border-spacing:0;
border-collapse:collapse;
border-color:hsl(0, 0%, 100%);
}
nav tr td:last-child{
border-right:1px solid hsl(0, 0%, 100%);
}
nav td{
border-left:1px solid hsl(0, 0%, 100%);
padding:0;
}
.navButton{
display:block;
line-height:39px;
padding:0 18px;
}
.socialMedia{
font:normal 18px 'Genericons';
}
.navButton:hover, .socialMedia a:hover{
background-color:hsl(0, 0%, 100%);
color:hsl(0, 100%, 35%);
}
#portfolio .navButton:hover, #portfolio .socialMedia a:hover{
color:hsl(0, 100%, 0%);
}
nav table .googleplus,nav table .facebook{
border-bottom:1px solid hsl(0, 0%, 100%);
}
nav{
letter-spacing:0.05em;
margin:0 0 1em 0;
}
h1, h2{margin:15px 0;
}
nav table,.mobileLinks,.mobileNav input{
display: none;
}
.mobileNav{
display:block;
text-align:center;
}
.mobileNav>label,.mobileLinks>div:first-child a,.mobileLinks{
border-bottom:1px solid white;
}
.mobileLinks>div:last-child a{
padding:8px;
width:25px;
}
.mobileLinks>div:last-child>a{
display:inline-block;
}
.mobileLinks>div:last-child>a:hover{
background-color:hsl(0, 0%, 100%);
color:hsl(0, 100%, 35%);
}
#portfolio .mobileLinks>div:last-child>a:hover{
color:hsl(0, 100%, 0%);
}
.mobileNav>div>a{
display:inline;
}
#mobileNavExpandHome:checked+.mobileLinks,#mobileNavExpandGallary:checked+.mobileLinks,#mobileNavExpandContact:checked+.mobileLinks{
display:block;
}

/* Top page */
#title{
background-color:hsl(0, 0%, 100%);
color:hsl(0, 0%, 0%);
white-space:nowrap;
padding-top:10px;
font-size:4em;
}
section{
padding:2vh 0;
font-size:150%;
}
#home section{
border-top:1px solid hsl(0,0%,100%);
border-bottom:1px solid hsl(0,0%,100%);
margin:3vh 0;
}
.intro{display:none;}
hr{margin:4vh 0;}
#qualifications img{
vertical-align:top;
display:inline-block;
padding:2vh 5px;
border:none;
}
#qualifications a{
text-decoration:none;
}

/* Middle page */
#portfolio{
text-align: center;
}
#portfolio section{
text-align:center;
padding:0;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}
#portfolio article{
display:inline-block;
text-align:center;
margin:.5em auto;
}
#portfolio article img {
cursor: pointer;
}
#portfolio article a, #portfolio article div{
display:block;
}
#portfolio article div{
background-color:hsl(0, 0%, 0%);
background-position:center;
background-repeat:no-repeat;
margin:0 auto;
width:250px;
height:230px;
}
#portfolio article a{
text-decoration:none;
color:hsl(0, 0%, 100%);
font-size:90%;
font-family:tahoma, sans-serif;
font-weight:700;
padding:2px;
margin-top:2px;
}
#overlay{
position:fixed;
}
#large{
display:inline-block;
max-width:100%;
max-height:100%;
}
#overlay{
cursor:pointer;
z-index:5;
text-align:center;
line-height: 100vh;
top:0;
left:0;
width:100%;
display:block;
background-color:hsla(0, 0%, 0%, .5);
}
.hide:checked~#overlay,.hide{
display:none !important;
}
#portfolio>a{
text-decoration:none;
color:white;
font-size: 110%;
font-weight:700;
border-bottom:1px solid white;
font-family:tahoma, sans-serif;
}

/* Bottom Page */
form textarea, form input{
border:none;
}
form label{
display:inline-block;
font-weight:bold;
padding-bottom:4px;
font-size:100%;
}
#testImage{
float:right;
}
form button{
background-color:hsl(0, 0%, 100%);
color:hsl(0, 100%, 35%);
border:none;
font-weight:bold;
font-size:120%;
padding:4px 12px;
font-weight:bold;
margin:0 0 15px 0;
}
form button:active{
background-color:hsl(0,100%,35%);
color:hsl(0,0%,100%);
border:2px solid hsl(0,0%, 100%);
}
body{
font-size:80%;
}
p{
padding:10px 0;
}
.header{
font-size:400%;
letter-spacing:0.18em;
}
form{
margin:0 .4em;
}
form label{
display:block;
}
form > div{
margin:2vh 0;
}
form label+input,textarea{
width:100%;
max-width:100%;
}
textarea{height:80px;
}
#field_5{width:75%;
}
.genericons{
width:auto;
}
footer{
background-color:hsla(0,0%,0%,.75);
text-align:center;
width:100%;
position:fixed;
bottom:0;
}

/* Dynamic Stuff */
@media (min-width:355px){
	.mobileNav{display: none;}
	nav{border-bottom:1px solid hsl(0, 0%, 100%);
		border-top:1px solid hsl(0, 0%, 100%);}
	nav table{display:block;}
}
@media (min-width:635px){
	#portfolio article{margin:1em;}
	#portfolio section{padding:0 1em;}
}
@media (max-width:350px){
	#title{letter-spacing:.09em;}
	nav td:nth-child(3){border-right:1px solid hsl(0, 0%, 100%);}
	nav a{padding:0 11px;}
	.header{font-size:320%;}
}
@media (min-height:600px){
	body{font-size:100%;}
	.intro{display:block;}
	#categories{display:block;}
}
@media (min-height:800px){
	body{font-size:110%;}
}
@media (min-height:1000px){
	body{font-size:120%;}
}